body {
    background: #ce54c7;
}
header {
    background-color: lightblue;
    border: solid blue;
    border-width: 10px 0 10px 0;
    margin: 0 auto;
    text-align: center;
}
.circle {
    width: 250px;
    height: 250px;
    background: blue;
    border-radius: 50%;
    border: 10px solid white;
    display: inline-block;
}
h3 {
    background-color: #ce54c7;
    padding: 15px;
    font-size: 1.5em;
    border-left: 10px solid #d6d5cd;
}                         