* {
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.maintitle {
    text-align: center;
    font-size: 2rem;
  }
#image {
    max-width: 100%;
    display: block;
    margin: auto
  }
#img-caption {
    text-align: center;
  }
img {
    display: block;
  }
li {
    display: block;
    padding: 6px;
    font-size: medium;
    display: flex;
    
  }
  #tribute-info {
    border: 3px solid black;
    width: 75%;
    margin: 0 auto;
     
  }
a {
    color: #f7fff7;
    background: #2f3061;
    padding: 8px;
    border-radius: 6px;
    }
a:hover {
  background: rgba(47,48,97,80%)
}    